<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.2.233:3306/PokaRmbCB?useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="myeclipse.connection.profile">mysql</property>-->
     
        <property name="hibernate.dialect">com.poka.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
<!--        <property name="connection.url">jdbc:sqlite:file:f:/mon.db</property>-->
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">utf-8</property>
        <property name="show_sql">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
 
        <property name="hibernate.connection.pool_size">1</property>
        <mapping   resource = "com/poka/resources/money.hbm.xml"/>   
      
        <!--        <mapping class="com.poka.dao.entity.Money"/> -->
    </session-factory>
</hibernate-configuration>
